**/.idea/
.vscode/

# dependencies
**/node_modules

# testing
/coverage

# production
**/build
**/target
**/dist
**/.pnp
**/.pnp.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

**/benchmarking-tool-config.json
**/benchmarking-config.json
